.zing-theme-material {
  --zing-material-primary-color: #3f51b5;
  --zing-material-accent-color: #ff4081;
  --zing-foreground-color: rgba(0, 0, 0, 0.87);
  --zing-secondary-foreground-color: rgba(0, 0, 0, 0.54);
  --zing-disabled-foreground-color: rgba(0, 0, 0, 0.38);
  --zing-background-color: #fff;
  --zing-header-background-color: #fff;
  --zing-tooltip-background-color: #fff;
  --zing-subheader-background-color: #eee;
  --zing-subheader-toolbar-background-color: rgba(238, 238, 238, 0.5);
  --zing-header-cell-hover-background-color: #f2f2f2;
  --zing-chip-background-color: #e2e2e2;
  --zing-range-selection-background-color: rgba(122, 134, 203, 0.1);
  --zing-range-selection-background-color-2: rgba(122, 134, 203, 0.19);
  --zing-range-selection-background-color-3: rgba(122, 134, 203, 0.27);
  --zing-range-selection-background-color-4: rgba(122, 134, 203, 0.34);
  --zing-range-selection-highlight-color: #fce4ec;
  --zing-row-hover-color: #fafafa;
  --zing-column-hover-color: #fafafa;
  --zing-control-panel-background-color: #fafafa;
  --zing-selected-row-background-color: rgba(33, 150, 243, 0.3);
  --zing-checkbox-unchecked-color: #333;
  --zing-value-change-value-highlight-background-color: #00acc1;
  --zing-side-button-selected-background-color: transparent;
  --zing-advanced-filter-join-pill-color: #f08e8d;
  --zing-advanced-filter-column-pill-color: #a6e194;
  --zing-advanced-filter-option-pill-color: #f3c08b;
  --zing-advanced-filter-value-pill-color: #85c0e4;
  --zing-range-selection-border-color: var(--zing-material-primary-color);
  --zing-checkbox-checked-color: var(--zing-material-accent-color);
  --zing-borders: none;
  --zing-borders-critical: solid 1px;
  --zing-border-color: #e2e2e2;
  --zing-grid-size: 8px;
  --zing-icon-size: 18px;
  --zing-header-height: calc(var(--zing-grid-size) * 7);
  --zing-row-height: calc(var(--zing-grid-size) * 6);
  --zing-cell-horizontal-padding: calc(var(--zing-grid-size) * 3);
  --zing-list-item-height: calc(var(--zing-grid-size) * 4);
  --zing-row-group-indent-size: calc(var(--zing-grid-size) * 3 + var(--zing-icon-size));
  --zing-filter-tool-panel-sub-level-row-height: calc(var(--zing-grid-size) * 4);
  --zing-checkbox-border-radius: 2px;
  --zing-toggle-button-switch-border-width: 2px;
  --zing-toggle-button-height: var(--zing-icon-size);
  --zing-widget-container-horizontal-padding: calc(var(--zing-grid-size) * 1.5);
  --zing-widget-container-vertical-padding: calc(var(--zing-grid-size) * 2);
  --zing-widget-vertical-spacing: calc(var(--zing-grid-size) * 1.75);
  --zing-font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  --zing-font-size: 13px;
  --zing-icon-font-family: zingGridMaterial;
  --zing-selected-tab-underline-color: var(--zing-material-primary-color);
  --zing-selected-tab-underline-width: 2px;
  --zing-input-focus-border-color: var(--zing-material-primary-color);
  --zing-input-focus-box-shadow: 0 0 0 5px rgba(32, 33, 36, 0.122);
  --zing-card-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  --zing-card-radius: 2px;
  --zing-invalid-color: #e02525;
}

.zing-theme-material .zing-filter-toolpanel-header,
.zing-theme-material .zing-filter-toolpanel-search,
.zing-theme-material .zing-status-bar,
.zing-theme-material .zing-header-row,
.zing-theme-material .zing-panel-title-bar-title,
.zing-theme-material .zing-multi-filter-group-title-bar {
  font-size: calc(var(--zing-font-size) - 1px);
  font-weight: 600;
  color: var(--zing-header-foreground-color);
}
.zing-theme-material .zing-tab {
  height: calc(var(--zing-grid-size) * 4.5);
  flex: 1 1 auto;
}
.zing-theme-material .zing-tabs-header,
.zing-theme-material .zing-column-drop-horizontal {
  background-color: var(--zing-subheader-background-color);
}
.zing-theme-material .zing-tabs-body {
  padding: calc(var(--zing-grid-size) * 0.5) 0;
}
.zing-theme-material .zing-tabs-body .zing-menu-list {
  padding-top: 0;
  padding-bottom: 0;
}
.zing-theme-material .zing-header-cell, .zing-theme-material .zing-header-group-cell {
  transition: background-color 0.5s;
}
.zing-theme-material .zing-row-last:not(.zing-row-first) .zing-cell-inline-editing {
  bottom: 0;
}
.zing-theme-material .zing-cell-inline-editing {
  padding: var(--zing-grid-size);
  height: calc(var(--zing-row-height) + var(--zing-grid-size) * 3);
  border-color: var(--zing-border-color) !important;
}
.zing-theme-material .zing-has-focus .zing-cell-inline-editing {
  border-color: var(--zing-input-focus-border-color) !important;
}
.zing-theme-material .zing-column-drop-vertical {
  border-bottom: solid 1px;
  border-bottom-color: var(--zing-border-color);
  padding-top: var(--zing-grid-size);
}
.zing-theme-material .zing-column-drop-vertical.zing-last-column-drop {
  border-bottom: none;
}
.zing-theme-material .zing-column-drop-vertical-cell {
  margin-left: 0;
}
.zing-theme-material .zing-column-drop-vertical-empty-message {
  font-size: calc(var(--zing-font-size) - 1px);
  font-weight: 600;
  color: var(--zing-disabled-foreground-color);
}
.zing-theme-material .zing-ltr .zing-column-drop-vertical-empty-message {
  padding-left: calc(var(--zing-icon-size) + var(--zing-grid-size) * 2);
  padding-right: var(--zing-grid-size);
}

.zing-theme-material .zing-rtl .zing-column-drop-vertical-empty-message {
  padding-right: calc(var(--zing-icon-size) + var(--zing-grid-size) * 2);
  padding-left: var(--zing-grid-size);
}

.zing-theme-material .zing-status-bar {
  border: solid 1px;
  border-color: var(--zing-border-color);
}
.zing-theme-material .zing-column-panel-column-select {
  border-top: solid 1px;
  border-top-color: var(--zing-border-color);
}
.zing-theme-material .zing-column-select, .zing-theme-material .zing-column-select-header {
  border-bottom: solid 1px;
  border-bottom-color: var(--zing-border-color);
}
.zing-theme-material .zing-column-select-header {
  height: var(--zing-header-height);
}
.zing-theme-material .zing-group-title-bar {
  padding: calc(var(--zing-grid-size) * 0.75) var(--zing-grid-size);
}
.zing-theme-material .zing-charts-format-sub-level-group-title-bar {
  padding: calc(var(--zing-grid-size) * 0.5) var(--zing-grid-size);
}
.zing-theme-material .zing-chart-data-section,
.zing-theme-material .zing-chart-format-section {
  padding-bottom: calc(var(--zing-grid-size) * 0.5);
}
.zing-theme-material .zing-chart-menu-close {
  background: var(--zing-background-color);
}
.zing-theme-material .zing-chart-menu-close .zing-icon {
  background: var(--zing-subheader-background-color);
}
.zing-theme-material input[class^=zing-]:not([type]),
.zing-theme-material input[class^=zing-][type=text],
.zing-theme-material input[class^=zing-][type=number],
.zing-theme-material input[class^=zing-][type=tel],
.zing-theme-material input[class^=zing-][type=date],
.zing-theme-material input[class^=zing-][type=datetime-local],
.zing-theme-material textarea[class^=zing-] {
  background: transparent;
  color: var(--zing-foreground-color);
  font-family: inherit;
  font-size: inherit;
  height: calc(var(--zing-grid-size) * 5);
  padding-bottom: var(--zing-grid-size);
  border-width: 0;
  border-radius: 0;
  border-bottom: 2px solid;
  border-bottom-color: var(--zing-border-color);
}
.zing-theme-material input[class^=zing-]:not([type]):focus,
.zing-theme-material input[class^=zing-][type=text]:focus,
.zing-theme-material input[class^=zing-][type=number]:focus,
.zing-theme-material input[class^=zing-][type=tel]:focus,
.zing-theme-material input[class^=zing-][type=date]:focus,
.zing-theme-material input[class^=zing-][type=datetime-local]:focus,
.zing-theme-material textarea[class^=zing-]:focus {
  border-bottom: 2px solid;
  border-bottom-color: var(--zing-material-primary-color);
  outline: none;
  box-shadow: none;
}
.zing-theme-material input[class^=zing-]:not([type])::placeholder,
.zing-theme-material input[class^=zing-][type=text]::placeholder,
.zing-theme-material input[class^=zing-][type=number]::placeholder,
.zing-theme-material input[class^=zing-][type=tel]::placeholder,
.zing-theme-material input[class^=zing-][type=date]::placeholder,
.zing-theme-material input[class^=zing-][type=datetime-local]::placeholder,
.zing-theme-material textarea[class^=zing-]::placeholder {
  color: var(--zing-disabled-foreground-color);
}
.zing-theme-material input[class^=zing-]:not([type]):disabled,
.zing-theme-material input[class^=zing-][type=text]:disabled,
.zing-theme-material input[class^=zing-][type=number]:disabled,
.zing-theme-material input[class^=zing-][type=tel]:disabled,
.zing-theme-material input[class^=zing-][type=date]:disabled,
.zing-theme-material input[class^=zing-][type=datetime-local]:disabled,
.zing-theme-material textarea[class^=zing-]:disabled {
  border-bottom: 1px solid;
  border-bottom-color: var(--zing-border-color);
}
.zing-theme-material input[class^=zing-]:not([type]):invalid,
.zing-theme-material input[class^=zing-][type=text]:invalid,
.zing-theme-material input[class^=zing-][type=number]:invalid,
.zing-theme-material input[class^=zing-][type=tel]:invalid,
.zing-theme-material input[class^=zing-][type=date]:invalid,
.zing-theme-material input[class^=zing-][type=datetime-local]:invalid,
.zing-theme-material textarea[class^=zing-]:invalid {
  border-width: 0;
  border-bottom: 1px solid;
  border-bottom-color: var(--zing-invalid-color);
  color: var(--zing-invalid-color);
}
.zing-theme-material .zing-standard-button {
  appearance: none;
  background-color: transparent;
  border: 0;
  color: var(--zing-material-primary-color);
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}
.zing-theme-material .zing-standard-button:disabled {
  color: var(--zing-disabled-foreground-color);
  background-color: var(--zing-input-disabled-background-color);
  border-color: var(--zing-input-disabled-border-color);
}
.zing-theme-material.zing-dnd-ghost {
  font-size: calc(var(--zing-font-size) - 1px);
  font-weight: 600;
}
.zing-theme-material .zing-filter-toolpanel-header {
  height: calc(var(--zing-grid-size) * 4);
}
.zing-theme-material .zing-filter-toolpanel-group-level-0-header {
  height: calc(var(--zing-grid-size) * 7);
}
.zing-theme-material .zing-ltr .zing-filter-apply-panel-button, .zing-theme-material .zing-ltr .zing-advanced-filter-apply-button, .zing-theme-material .zing-ltr .zing-advanced-filter-builder-button {
  margin-left: var(--zing-grid-size);
}

.zing-theme-material .zing-rtl .zing-filter-apply-panel-button, .zing-theme-material .zing-rtl .zing-advanced-filter-apply-button, .zing-theme-material .zing-rtl .zing-advanced-filter-builder-button {
  margin-right: var(--zing-grid-size);
}

.zing-theme-material .zing-layout-auto-height .zing-center-cols-viewport, .zing-theme-material .zing-layout-auto-height .zing-center-cols-container, .zing-theme-material .zing-layout-print .zing-center-cols-viewport, .zing-theme-material .zing-layout-print .zing-center-cols-container {
  min-height: 150px;
}
.zing-theme-material .zing-overlay-no-rows-wrapper.zing-layout-auto-height {
  padding-top: 60px;
}
.zing-theme-material .zing-picker-field-wrapper:focus-within {
  box-shadow: 0 0 0 1px var(--zing-material-primary-color);
}
.zing-theme-material .zing-rich-select-list {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 5px -3px, rgba(0, 0, 0, 0.14) 0px 8px 10px 1px, rgba(0, 0, 0, 0.12) 0px 3px 14px 2px;
}
.zing-theme-material .zing-advanced-filter-builder-button-label {
  text-transform: uppercase;
}
